includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 9
    paths:
        - app
    excludePaths:
        - app/Legacy/*
        - app/Nova
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

